@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7em;
}

.toolbar-container {
    background-color: #ff5252!important;
}